/* Border-box reset */
html {
	box-sizing: border-box;
}

*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	/*Chat styling*/
	body {
		display: flex;
		/*background-color: #1c1c1c;*/
		margin-top: 30px;
		justify-content: center;
		align-items: center;
	}

	.userSettings {
		margin-bottom: 20px;
	}

	.chat {
		max-width: 1000px;
		width: 700px;
		display: flex;
		background-color: #797979;
		margin: 10px;
		border-radius: 15px;
		border: none;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.chat browser {
		margin-right: -14px; !important
	}

	.chat #chatOutput {
		overflow-y: scroll;
		border-radius: 15px;
		height: 500px;
		width: 100%;
	}
	
	.chat #chatOutput p {
		margin: 0;
		padding: 5px;
		border-bottom: 1px solid #bbb;
		word-break: break-all;
	}

	#chatSend:hover {
		background-color: #f9ffe6;
	}

	#chatSend:active {
		background-color: rgba(153, 204, 0, 0.9);
		width: 148px;
		height: 48px;
	}

	#chatInput {
		width: 500px;
		height: 50px;
		padding: 10px;
		margin: 20px;
		border: none;
		border-radius: 5px;

	}

	#chatSend {
		width: 150px;
		height: 50px;
		border: none;
		border-radius: 25px;
	}
	#title {
		color: #dcdcdc;
		margin: 20px;
	}
	#loginDiv {
		background-color: #797979;
		border-radius: 5px;
	}
	#login {
		text-align: center;
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
	#usernameLabel {
		color: #fff;
	}
	#username {
		border-radius: 5px;
		margin: 5px;
		border: none;
		height: 40px;
		width: 300px;
	}

	#logout {
		float: right;
		border: none;
		background-color: transparent;
		margin-top: 15px;
		border-radius: 5px;
		color: rgba(153, 204, 0, 0.9);
		height: 40px;
		width: 150px;
	}
	#logout:hover {
		background-color: rgba(153, 204, 0, 0.1);
	}
	#password {
		border-radius: 5px;
		margin: 5px;
		border: none;
		height: 40px;
		width: 300px;
	}
	#passwordLabel {
		color: #FFF;
	}
	#connexion {
		margin-top: 30px;
		border: none;
		border-radius: 25px;
		height: 40px;
		width: 150px;
	}
	.header {
		text-align: center;
	}
	.header h1 {
		color: #FFF;
	}
